.func-info {
  display: none;
}

.methods-info {
    display: none;
}
.arguments-info{
    display: none;
}
.strings-info {
    display: none;
}
.alerts-info {
    display: none;
}
.variables-info {
    display: none;
}

.jquery-info {
    display: none;
}

.comments-info {
    display: none;
}

.booleans-info {
    display: none;
}

/*
.booleans .green-background {
  background-color: lightgreen;

}

.booleans .red-background {
  background-color: pink;
}
*/

img {
  display: none;
  width: 100px;
  height:auto;
}
