
body {
  text-align: center;
}

.func-info {
  display: none;
}

.methods-info {
    display: none;
}
.arguments-info{
    display: none;
}
.strings-info {
    display: none;
}
.alerts-info {
    display: none;
}
.variables-info {
    display: none;
}

.jquery-info {
    display: none;
}

.comments-info {
    display: none;
}

.booleans-info {
    display: none;
}

#dogcat {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: auto;
}
#catdog {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: auto;
}

.spoon {
  display: none;
  width: 300px;
  height:auto;

}



label[for="exampleInputEmail1"] {
  color:red;
}

#story {
  display: none;
}

#hi5 {
  display: none;
  float: bottom;
  width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#purp {
  display: none;
  width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#mongoose {
  display: none;
  width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.maroon {
  background-color: #BC2100;

}

.chartruse {
  background-color: #BFFF00;
}

.amethyst {
  background-color: #9966CC;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
