.func-info {
  display: none;
}

.methods-info {
    display: none;
}
.arguments-info{
    display: none;
}
.strings-info {
    display: none;
}
.alerts-info {
    display: none;
}
.variables-info {
    display: none;
}

.jquery-info {
    display: none;
}

.comments-info {
    display: none;
}

.booleans-info {
    display: none;
}

/*
.booleans .green-background {
  background-color: lightgreen;

}

.booleans .red-background {
  background-color: pink;
}
*/

img {
  display: none;
  width: 100px;
  height:auto;
}

label[for="exampleInputEmail1"] {
  color:red;
}

#story {
  display: none;
}

#hi5 {
  display: none;
  width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#purp {
  display: i;
  width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#mongoose {
  display: none;
  width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.maroon {
  background-color: #BC2100;

}

.chartruse {
  background-color: #BFFF00;
}

.amethyst {
  background-color: #9966CC;
}

.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
